<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.linguee</string>
	<key>connections</key>
	<dict>
		<key>22FAD035-E094-483A-B0FC-D5884E8839E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CC87439-80D1-4CA9-9FA3-DE6278F64DBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D87936D-6842-42C2-A940-788C933D1CF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEFE50E0-2E81-4634-8A72-A186130D9B08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CC87439-80D1-4CA9-9FA3-DE6278F64DBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA57F539-A23C-4FC9-9028-FBA43EA0B22D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7A96324-0238-4C9C-8891-25FA640FA4FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CC87439-80D1-4CA9-9FA3-DE6278F64DBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEFE50E0-2E81-4634-8A72-A186130D9B08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CC87439-80D1-4CA9-9FA3-DE6278F64DBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson &lt;deanishe@deanishe.net&gt;</string>
	<key>description</key>
	<string>Look up English and German on Linguee.de</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Linguee</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gen</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./linguee "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Look Up on Linguee</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9CC87439-80D1-4CA9-9FA3-DE6278F64DBB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BA57F539-A23C-4FC9-9028-FBA43EA0B22D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.freron.MailMate</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7D87936D-6842-42C2-A940-788C933D1CF7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>AEFE50E0-2E81-4634-8A72-A186130D9B08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>22FAD035-E094-483A-B0FC-D5884E8839E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>English ⟷ German dictionary</string>
				<key>text</key>
				<string>Search Linguee for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>A7A96324-0238-4C9C-8891-25FA640FA4FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>22FAD035-E094-483A-B0FC-D5884E8839E5</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>7D87936D-6842-42C2-A940-788C933D1CF7</key>
		<dict>
			<key>note</key>
			<string>Search for current selection</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>9CC87439-80D1-4CA9-9FA3-DE6278F64DBB</key>
		<dict>
			<key>note</key>
			<string>Look up English/German term on Linguee.de</string>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>A7A96324-0238-4C9C-8891-25FA640FA4FC</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>AEFE50E0-2E81-4634-8A72-A186130D9B08</key>
		<dict>
			<key>note</key>
			<string>Ignore empty queries</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>BA57F539-A23C-4FC9-9028-FBA43EA0B22D</key>
		<dict>
			<key>note</key>
			<string>Search on Linguee.de</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.3</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
