<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>78A11F63-5F92-4622-87D2-D09D5AB3D0D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F19AC87-0CEA-4333-90A1-4A7C015F42C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Roberts</string>
	<key>description</key>
	<string>Open the last modified file</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open freshest file</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd $HOME/dotfiles/scripts
./open_freshest_file.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F19AC87-0CEA-4333-90A1-4A7C015F42C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Open freshest file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>78A11F63-5F92-4622-87D2-D09D5AB3D0D7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>78A11F63-5F92-4622-87D2-D09D5AB3D0D7</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>9F19AC87-0CEA-4333-90A1-4A7C015F42C0</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
