<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>alfred.theme.custom.AEB344FD-C01C-43A6-A142-EFDE67450688</string>
	<key>darkthemeuid</key>
	<string>alfred.theme.custom.AEB344FD-C01C-43A6-A142-EFDE67450688</string>
	<key>lightthemeuid</key>
	<string>alfred.theme.custom.AEB344FD-C01C-43A6-A142-EFDE67450688</string>
	<key>theme</key>
	<string>alfred.theme.custom.AEB344FD-C01C-43A6-A142-EFDE67450688</string>
</dict>
</plist>
