<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>016BF2F9-5943-4AEB-98EC-7A9A3CAE2C67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>107FEAF1-5464-49F4-8A36-FAE84A443115</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Georgiy's Magic Box add torrent in clipboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gmba</string>
				<key>text</key>
				<string>Georgiy's Magic Box add torrent in clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>016BF2F9-5943-4AEB-98EC-7A9A3CAE2C67</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set scriptPath to POSIX path of "/Users/david/Documents/Applescripts/Georgiy's Magic Box add torrent.scpt"  run script scriptPath with parameters {q}
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>107FEAF1-5464-49F4-8A36-FAE84A443115</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>016BF2F9-5943-4AEB-98EC-7A9A3CAE2C67</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>107FEAF1-5464-49F4-8A36-FAE84A443115</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
