<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>842AA980-1FCF-4A54-B99B-C901956A4954</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8CBBF7F-E025-4A21-8BD9-2CFF1C0217C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F24A94D-09BA-4B27-8E8C-9FD13CC9BABF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>159EF346-5367-4B92-A116-682A4A810B73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Roberts</string>
	<key>description</key>
	<string>Opens messenger.com and starts a new message to the person passed</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Message with Facebook/WhatsApp</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
  set scriptPath to (POSIX path of (path to home folder as text)) &amp; "dotfiles/scripts/Activate Chrome and compose FB message.scpt"log scriptPathrun script scriptPath with parameters {q}
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D8CBBF7F-E025-4A21-8BD9-2CFF1C0217C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>m</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Message with Facebook</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>842AA980-1FCF-4A54-B99B-C901956A4954</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
  set scriptPath to (POSIX path of (path to home folder as text)) &amp; "dotfiles/scripts/Activate Chrome and compose WhatsApp message.scpt"log scriptPathrun script scriptPath with parameters {q}
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>159EF346-5367-4B92-A116-682A4A810B73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>w</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Message with WhatsApp</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F24A94D-09BA-4B27-8E8C-9FD13CC9BABF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>159EF346-5367-4B92-A116-682A4A810B73</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>842AA980-1FCF-4A54-B99B-C901956A4954</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>9F24A94D-09BA-4B27-8E8C-9FD13CC9BABF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>D8CBBF7F-E025-4A21-8BD9-2CFF1C0217C7</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
