<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>DC938847-CDAC-446D-8B8F-31062CB74B66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBE80D65-A2A7-42CE-9551-6CA687994E78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FBE80D65-A2A7-42CE-9551-6CA687994E78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17BC2271-36FA-464A-B40A-C837CE9C26F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IP Location</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ip</string>
				<key>text</key>
				<string>Check IP Location</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DC938847-CDAC-446D-8B8F-31062CB74B66</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl -s ipinfo.io | jq '.country' | sed 's/"//g'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FBE80D65-A2A7-42CE-9551-6CA687994E78</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Is the location of this computer's IP</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>17BC2271-36FA-464A-B40A-C837CE9C26F7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>17BC2271-36FA-464A-B40A-C837CE9C26F7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DC938847-CDAC-446D-8B8F-31062CB74B66</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FBE80D65-A2A7-42CE-9551-6CA687994E78</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
