<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>AA9717F2-8AAC-4F67-AD03-C6CE95BBC76C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pb</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Pirate Bay search</string>
			<key>url</key>
			<string>https://thepiratebay.org/search/{query}/0/99/0</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E9DAD082-9DD5-4225-A329-A9BE0FDAA598</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>l</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>Google Lucky</string>
			<key>url</key>
			<string>http://www.google.com/search?btnI=I'm+Feeling+Lucky&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
