<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.actsofdavid.alfred.tilefrontmost</string>
	<key>connections</key>
	<dict>
		<key>D5994E7A-1B0E-4DDA-ACEE-BEA35F1F459F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4F3F463-E36E-4C25-B810-42E8DC8B2267</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Roberts</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tile Frontmost App Windows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tile</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching running apps</string>
				<key>script</key>
				<string>python list_apps.py "{query}"</string>
				<key>title</key>
				<string>Tile frontmost application with...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D5994E7A-1B0E-4DDA-ACEE-BEA35F1F459F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.hammerspoon.Hammerspoon</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>hammerspoon://tileapps?app={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F4F3F463-E36E-4C25-B810-42E8DC8B2267</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>D5994E7A-1B0E-4DDA-ACEE-BEA35F1F459F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F4F3F463-E36E-4C25-B810-42E8DC8B2267</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
