<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>10ED2E87-276F-4862-9637-107CDBF28F75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4F3F463-E36E-4C25-B810-42E8DC8B2267</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Roberts</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tile Frontmost App Windows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tile</string>
				<key>text</key>
				<string>Tile Frontmost App Windows</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>10ED2E87-276F-4862-9637-107CDBF28F75</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.hammerspoon.Hammerspoon</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>hammerspoon://tileapps?app={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F4F3F463-E36E-4C25-B810-42E8DC8B2267</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>10ED2E87-276F-4862-9637-107CDBF28F75</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F4F3F463-E36E-4C25-B810-42E8DC8B2267</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
