<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.actsofdavid.alfred.trello</string>
	<key>connections</key>
	<dict>
		<key>0442D773-2E45-40E3-B79E-6879C09EDCB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBAACDB8-006A-4F21-832F-16FA411C1103</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16BB38FE-8155-4853-8675-42456C67EE07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC4DC945-4693-4F48-A492-1E89FD7A8D06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B52392F2-134F-4DC0-A056-B7581FD26897</key>
		<array/>
		<key>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCBEF829-5790-415C-B492-BE2D0DFAEB63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B52392F2-134F-4DC0-A056-B7581FD26897</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBAACDB8-006A-4F21-832F-16FA411C1103</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD2245DE-C519-47BB-9947-BE1A44C7C54F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCBEF829-5790-415C-B492-BE2D0DFAEB63</key>
		<array/>
		<key>C5467207-338E-4F24-A4C9-73311BDD7202</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16BB38FE-8155-4853-8675-42456C67EE07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBFD6A75-F1D3-4ECA-8361-7B7121031C42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECF7FEF5-2936-4D18-81AA-16698BF190DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Roberts</string>
	<key>description</key>
	<string>Add new cards to Trello with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Trello</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>subtext</key>
				<string>Format: title # description ; keywords (can also use 'top' as a keyword)</string>
				<key>text</key>
				<string>Add a Trello card</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CBFD6A75-F1D3-4ECA-8361-7B7121031C42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Trello</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BCBEF829-5790-415C-B492-BE2D0DFAEB63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>6</integer>
				<key>script</key>
				<string># Fill these in yourself
KEY='2a3af0cbdc9f6e22a9b5ac8f5637ce38'
TOKEN='2f11dc1f29a54ca673a3ebf9eaeb6b677c23da2157b37ebbd9f3455391ae798c'
DEFAULT_BOARD_ID='5b56eb587d141d9fd06d8bfc'

/usr/local/bin/python trello_add.py $KEY $TOKEN $DEFAULT_BOARD_ID "{query}"
# echo trello_add.py $KEY $TOKEN $DEFAULT_BOARD_ID "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>ECF7FEF5-2936-4D18-81AA-16698BF190DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Pop</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>B52392F2-134F-4DC0-A056-B7581FD26897</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Generate your Trello Developer API  Key</string>
				<key>title</key>
				<string>Trello</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EC4DC945-4693-4F48-A492-1E89FD7A8D06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>get trello key</string>
				<key>subtext</key>
				<string>https://trello.com/app-key/</string>
				<key>text</key>
				<string>Generate your Trello Developer API  Key</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5467207-338E-4F24-A4C9-73311BDD7202</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://trello.com/app-key/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>16BB38FE-8155-4853-8675-42456C67EE07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>get trello token</string>
				<key>subtext</key>
				<string>Usage: get trello token {YourAPIKey}</string>
				<key>text</key>
				<string>Authorize Trello Workflow to use your Trello account.</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0442D773-2E45-40E3-B79E-6879C09EDCB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Authorize Trello Workflow to use your account.</string>
				<key>title</key>
				<string>Trello</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BD2245DE-C519-47BB-9947-BE1A44C7C54F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://trello.com/1/connect?key={query}&amp;name=Trello%20Workflow%20for%20Alfred&amp;response_type=token&amp;scope=read,write&amp;expiration=never</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BBAACDB8-006A-4F21-832F-16FA411C1103</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Script: 	   Trello Workflow for Alfred
Version:   1.6
Author: 	   @mikomagni @tomlongo 
Desc:	   Adds card to Trello
Updated:	   24/04/18
Source: 	   https://github.com/MikoMagni/Trello-Workflow-for-Alfred



Installation Instructions
https://github.com/MikoMagni/Trello-Workflow-for-Alfred</string>
	<key>uidata</key>
	<dict>
		<key>0442D773-2E45-40E3-B79E-6879C09EDCB8</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>16BB38FE-8155-4853-8675-42456C67EE07</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>B52392F2-134F-4DC0-A056-B7581FD26897</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>BBAACDB8-006A-4F21-832F-16FA411C1103</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>BCBEF829-5790-415C-B492-BE2D0DFAEB63</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>BD2245DE-C519-47BB-9947-BE1A44C7C54F</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>C5467207-338E-4F24-A4C9-73311BDD7202</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>CBFD6A75-F1D3-4ECA-8361-7B7121031C42</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>EC4DC945-4693-4F48-A492-1E89FD7A8D06</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>ECF7FEF5-2936-4D18-81AA-16698BF190DC</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.6</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
