<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>232C38AD-AFB6-419B-9EA4-D442AAECB5FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFF56652-B617-43DD-B078-F883B88B9E78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Roberts</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Locarta Mail</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lm</string>
				<key>text</key>
				<string>Search Locarta Mail</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>232C38AD-AFB6-419B-9EA4-D442AAECB5FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set code to "document.getElementsByName(\"q\")[0].value = \"" &amp; q &amp; "\";document.querySelector('[aria-label=\"Search Locarta Mail\"]').click();"tell application "Google Chrome"	--tell active tab of front window to set URL to "javascript:" &amp; query	set active tab index of front window to 1	execute front window's active tab javascript code	activateend tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>FFF56652-B617-43DD-B078-F883B88B9E78</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>232C38AD-AFB6-419B-9EA4-D442AAECB5FB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FFF56652-B617-43DD-B078-F883B88B9E78</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
